VITE_WC_PROJECT_ID=e23c9c76bbd701d5650182608ff14220
VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIwNDBiNzM0Zi1jNzJkLTQ4NDktODM1Ny1lMTgxZjJhZDAyNjkiLCJlbWFpbCI6InRlYW0ubmV4YS5zb2NpYWxAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9LHsiaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImU2ZThjZjY2Njg3YTE3MjZiZmMxIiwic2NvcGVkS2V5U2VjcmV0IjoiZjcwNWM2ZTI5N2FlMjdlNmFmMDEyN2Y4Yjc2ZWZjMWM3MTUzM2IyYjFlNmNjN2Q2MzhiZjhhNTRmY2EyYmRhMSIsImlhdCI6MTcxMTAzMjY0OH0.59QfQPladHX-xXo25dfMVJb8aktokFQ6QOcomVmilb8
VITE_GATEWAY_URL=https://blue-recent-gorilla-290.mypinata.cloud
VITE_CONTRACT_KEY=0xd128be8f102a9aae40c75ef2ff61c65b6c9aeee4
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFscXppamxqZnZvYXNtbGFnaGlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTExMjMxMzYsImV4cCI6MjAyNjY5OTEzNn0.lXOr5hTOSB7ZaJQVypThWbxFEpPRQiLl-d8KEGR0U4U